.panel-small{
  max-width: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 300px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  box-shadow: 2px 2px 2px #999999;
  .panel-title{
    text-align: center;
  }
  .rucaptcha-image:hover {
    cursor: pointer;
  }
  .rucaptcha_error_field, .email_error_field, .password_error_field {
    display: none;
    color: #B00100;
  }
}
.main-container{
  position: absolute;
  width: 100%;
  top: 80px;
  left: 0px;
  .page_header{
    min-height: 30px;
    form.inline{
      display: inline;
    }
  }
  .page_content{
    .content_block{
      border-bottom: 1px solid #dddddd;
      padding: 15px 0px;
      span{
        display: block;
        color: darkred;
      }
    }
  }
  .simple_form{
    abbr{
      color: red;
    }
  }
  .pagination{
    margin: 0px;
  }

  .empty_data{
    text-align: center;
    color: #999999;
    padding: 30px 0px !important;
    &:before{
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      transform: translate(0, 0);
      content: "\f118";
      display: block;
      font-size: 60px;
      color: #CCCCCC;
    }
    &:after{
      content: "Sorry！暂时没有找到符合条件的数据";
    }
  }
  .check_submit_btn{
    display: none;
  }
}
.page-flash{
  position: relative;
  max-width:500px;
  margin-left: auto;
  margin-right:auto;
  z-index: 999;
}
.empty_data{
  text-align: center;
  color: #999999;
  padding: 30px 0px !important;
  &:before{
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
    content: "\f118";
    display: block;
    font-size: 60px;
    color: #CCCCCC;
  }
  &:after{
    content: "Sorry！暂时没有找到符合条件的数据";
  }
}